/*
    CSS CERTIFICADOS
*/

.apresentacao_certificados{
    display: grid;
    grid-template-columns: 50% 50%;
}

.certidicado__titulos{

    text-align: center;
    font-size: 0.6rem;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    margin: 0.5rem;
}

.certificado{
    height: 18rem;
    width: 18rem;
}

.lista__de__cursos:hover{
    transition: 1s;
}

.swiper{
    align-items: center;
}


.swiper-slide img{
	width: 80%;
}

.swiper-button-prev,
.swiper-button-next{
	display: none;
}
