/*
   CSS PROJETOS
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

.apresentacao_projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo_projetos{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.projetos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bloco_projeto{
    margin: 5%;
    margin-left: 0%;
}

.frame_projeto_pong{
    display: block;
    height: 25.3rem;
    width: 37.5rem;
    border: var(--cor-seundaria) solid 3px;
}

.frame_projeto_road{
    height: 31.3rem;
    width: 31.6rem;
    border: var(--cor-seundaria) solid 3px;
}