@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --cor-primaria: linear-gradient(to top, #072f6a 0%, #000000 100%);
    --cor-seundaria:  #B6EADA;
    --cor-terciaria: #FB2576;
}

body{
    background-image: var(--cor-primaria);
    color: var(--cor-seundaria);
    height: 100%;
    width: 100vw;
}

.menu{
    display: flex;
    background-color: var(--cor-terciaria);
}

.menu_opcoes{
    text-decoration: none;
    width: 7%;
    color: black;
    padding: 1%;
    font-family: 'Krona One', sans-serif;
    font-size: 1rem;
    gap: 5%;
}

footer{
    height: auto;
}

.redes_links{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.redessociais_links{
    margin: 5.5%;
    transition: 1.2s;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--cor-seundaria);
}

.redessociais_links:hover{
    transition: 1s;
    background-color: var(--cor-terciaria);
}

.rodape{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-terciaria);
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0.3%;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1200px){
    body{
        height: auto;
        width: auto;
    }

    .apresentacao{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 2rem;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .menu_opcoes{
        width: auto;
    }

    footer{
        width: 100vw;
        height: auto;
        margin-top: 10%;
    }

    .redes_links{
        align-items: center;
    }

    .lista__de__cursos{
        width: auto;
    }

    .redessociais_links{
        margin: 5%;
        transition: 1.2s;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 10px;
        background-color: var(--cor-seundaria);
    }

    .apresentacao_projetos{
        margin: 1%;
    }

    .titulo_projetos{
        font-size: 1.75rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .nome_projetos{
        font-size: 1.1rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .projetos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 5%;
    }
    
    .frame{
        height: 20rem;
        width: 25rem;
        border: whitesmoke solid 1px;
    }
    
}

@media (max-width: 800px){
    body{
        height: auto;
        width: auto;
    }

    .projetos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1%;
    }
    
    .frame{
        height: 15rem;
        width: 20rem;
        border: whitesmoke solid 2px;
        margin: 5%;
    }
    
    .apresentacao_cursos{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 10rem;
    }

    .apresentacao__conteudo__cursos{
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 1%;
    }
    
    
    footer{
        width: 100vw;
        height: auto;
        margin-top: 30%;
    }
}