@import url("index.css");
@import url("projetos.css");
@import url("tecnologias.css");
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria: linear-gradient(to top, #191825 0%, #000000 100%);
    --cor-secundaria: whitesmoke;
    --cor-terciaria: linear-gradient(to top, #865DFF 0%, #FFA3FD 100%);
    --cor-bordas: #baa6f5;
    --background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 80% );
}

body{
    background-image: var(--cor-primaria);
    color: var(--cor-secundaria);
    height: 100%;
    width: 100vw;
}

.cabecalho{
    margin: 2rem;
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburguer-bar {
    width: 100%;
    height: 3px;
    background-color: white;
}

.menu-opcoes{
    list-style: none;
    display: flex;
    align-items: start;
}

.menu-opcao{
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    background-color: var(--cor-primaria);
    margin-bottom: 0.5rem;
}

.menu_opcoes{
    display: flex;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 0.7rem;
    font-family: 'Krona One', sans-serif;
    justify-content: center;
    margin-top: 1rem;
}

.botao_cv{
    font-family: 'Krona One', sans-serif;
    font-size: 0.8rem;
    font-size: 1.2rem;
    padding: 1rem;
    width: 11rem;
    height: 1rem;
    background: var(--cor-terciaria);
    border-radius: 3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    margin-top: 1rem;
}

.redes_links{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.redessociais_links{
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 60%;
    border: var(--cor-secundaria) solid 0.1rem;
    background-color: var(--cor-secundaria);
    margin-left: 1rem;
    transition: 1.2s;
    cursor: pointer;
}

.redessociais_links:hover{
    background-image: var(--cor-terciaria);
    border-color: var(--cor-terciaria);
}

.menu_opcoes:hover{
    background-image: var(--cor-terciaria);
    border-bottom: #865DFF solid 0.1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rodape{
    display: flex;
    flex-direction: column;
    border-top: 0.2rem solid black;
    color: var(--cor-secundaria);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    height: 23px;

}