body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.botao_cv {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburguer-bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu-opcoes {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-opcao {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

/* Estilos para o menu em dispositivos móveis */
@media (max-width: 768px) {
    .menu-hamburguer {
        display: flex;
    }

    .menu-opcoes {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        margin: 0;
    }

    .menu-opcao {
        margin: 10px 0;
    }

    /* Corrige a classe para mostrar as opções do menu */
    .menu-hamburguer.menu-ativo + .menu-opcoes {
        display: flex;
    }
}
